<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">

    <Properties>
        <Property name="logdir">logs</Property>
        <Property name="ROOT_PATTERN">%d{HH:mm:ss.SSS} [%thread] %level [%C{1.}.%M:%L] - %msg%xEx%n</Property>
        <Property name="NAME_PATTERN">%d{HH:mm:ss.SSS} [%thread] %level [%C.%M:%L] - %msg%xEx%n</Property>
    </Properties>
    
    <appenders>
    	
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${NAME_PATTERN}"/>
        </Console>
        
        <RollingRandomAccessFile name="rootAppender" 
        						 fileName="${logdir}/root.log" 
        						 filePattern="${logdir}/root.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${ROOT_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <ThresholdFilter level="INFO"/>
        </RollingRandomAccessFile>

        
    </appenders>

    <loggers>
    
        <root level="info">
            <appender-ref ref="rootAppender"/>
            <appender-ref ref="consoleAppender" />
        </root>
        
    </loggers>
</configuration>